 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto' sans-serif;
    line-height: 1.4rem;
}
a{
    text-decoration: none;
}
p{
    margin: 0.75rem;
}
.text-primary{
    color: #93cb52 ;
}
.bg-light{
    background-color: #f4f4f4;
    color: #333;
}
.bg-dark{
    background-color:#333 ;
    color: #f4f4f4;
}
.bg-primary{
    background-color: #93cb52;
    color: #fff;
}
.py-1{padding: 1.5rem;}
.py-2{padding: 2rem;}
.py-3{padding: 3dvh;}
.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3dvh;}

.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.btn:hover{
    background-color: #7ab436;
}
.btn{
    display: inline-block;
    background-color: #93cb52;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1rem 2.2rem;
}
.btn-dark{
    background-color: #333;
    color: #fff;
}
#navbar{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem;
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul li a{
    color: #fff;
    list-style: none;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    background-color:#93cb52  ;
    border-radius: 5px;
}
/* showcase */
#showcase{
    background:#333 url('../img/night-city-city-lights-aerial-view-buildings-architecture-night-11570143320dsfqunblbr.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
} 
#showcase .showcase-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    position:absolute;
    top:60px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.items{
    display:flex;
    padding: 1rem;
}
.item{
    flex:1;
    text-align: center;
    padding: 1rem;
}
.item i{
    background-color: #93cb52;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding: 1rem;
}
.list{
    margin: 0.5rem 0;
    list-style: none;
}
.list li{
    border-bottom: #444 dotted 1px;
    padding: 0.5rem 0;
}

#who{
    display: flex;
}
#who div {

    flex: 1;
}
#who .who-img{
    background: url(../img/people.jpg) no-repeat center center/cover;
}
/* section clients */
#clients .items{
    display: flex;
}
#clients .items img{
    display: block;
    margin: auto;
    width: 60%;
}
/* section contact */
#contact{
    display: flex;
}
#contact .map,#contact .contact-form{
    flex: 1;
}
.form-group{
    margin: 0.75rem;
}
.contact-form label{
    display: block;
}
.contact-form input,.contact-form textarea{
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem;
    margin: .95rem;
}